.title {
	margin-top: 0.75rem !important;
	margin-bottom: 0.5rem !important;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.badgeGrid {
	flex-grow: 1;
}

.card {
	height: 100%;
	word-break: break-word;
}

.badgeReactions {
	font-size: 1.5em;
}
