.historyIcon {
	margin-right: 0.5rem;
	position: relative;
	top: 5px;
}

.title {
	margin-top: 0.75rem !important;
	margin-bottom: 0.5rem !important;
}

div.loadingSpinner {
	margin-top: 20%;
}

/* Toggleable reactions summary for searching. */
/* Should look very similar to the grid for reacting to a page. */
div.reactionsSummaryGrid {
	flex-grow: 1;
	/* Make sure there is an even amount of spacing on the left and right. */
	overflow-x: hidden;
}

.reactionGrid {
	margin-top: 0.75rem;
	min-height: 8em;
	font-size: 1.2em;
	margin-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.reactionButton {
	background-color: inherit;
	font-size: inherit;
	cursor: pointer;
	outline: none;
	border-radius: 16px;
	border-color: lightgrey;
	min-width: max-content;
	padding: 4px;
	padding-right: 6px;
	padding-left: 6px;
}

.reactionButtonPicked {
	background-color: dodgerblue;
}

.reactionCount {
	font-size: 1.1em;
	color: lightgrey;
	padding-left: 0.5em;
}

button:disabled > .reactionCount {
	color: #666;
}

.reactionPickedCount {
	color: floralwhite;
}
/* END Toggleable reactions summary for searching. */

.deleteButton {
	margin-top: 0.5rem !important;
	margin-bottom: 0.25rem !important;
}

.search {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
	width: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageUrlP {
	font-size: 1.2em !important;
}

.historyGrid {
	flex-grow: 1;
}

.card {
	height: 100%;
	word-break: break-word;
}

.cartContent {
	padding: 12px !important;
}

.pageReactions {
	font-size: 1.5em;
}