.title {
	margin-top: 0.75rem !important;
	margin-bottom: 0.5rem !important;
}

.section {
	margin-bottom: 1rem !important;
}

.buttonHolder {
	padding-top: 0.25rem !important;
}

.themeSelection {
	margin-left: 1rem !important;
}
